<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNARly</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
      width: 100%;
      background: url('http://cdn.wallpapersafari.com/28/16/od3ZAx.jpg') no-repeat center center ;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1 style="font-family:Impact, Charcoal, sans-serif">GNARly</h1>
    <p style="color:white">Inspires Stupidity</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GNARly</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{ url_for('competition') }}">Competitions</a></li>
        <li><a href="{{ url_for('leaderboard') }}">Leaderboards</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Competitions</div>
        <div class="panel-body"><img src="http://www.clipartkid.com/images/435/checkered-flag-graphics-gJc85T-clipart.jpg" class="img-responsive" style="height:300px" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Leaderboards</div>
        <div class="panel-body"><img src="https://cdn4.iconfinder.com/data/icons/award-vol-2/72/104-512.png" class="img-responsive" style="height:300px" alt="Image" ></div>
        <div class="panel-footer">See the highest rated image of the month</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Picture of the month</div>
        <div class="panel-body"><img src="https://s-media-cache-ak0.pinimg.com/564x/83/3b/a3/833ba338dde1b60e65126c8a64afc33b.jpg" class="img-responsive" style="height:300px" alt="Image"></div>
        <div class="panel-footer">See the highest rated image of the month</div>
      </div>
    </div>
  </div>
</div><br>



<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
